extend layout

prepend additional_header

	script(src='/js/local/OverlayView.js', charset='utf-8')
	script(src='/js/local/Graph.js', charset='utf-8')
	script(src='/js/local/TaxiAnimation.js', charset='utf-8')
	script(src='/js/local/TaxiData.js', charset='utf-8')
	script(src='/js/local/taxi_jquery.js', charset='utf-8')
	script(src='/js/local/taxi_draw_jquery.js', charset='utf-8')
	script(src='/js/local/taxi_chart_jquery.js', charset='utf-8')
	script(src='/js/local/taxi_export_jquery.js', charset='utf-8')
	script(src='/js/lib/async.js', charset='utf-8')
	link(rel='stylesheet', href='/css/taxi.css')

prepend content

	.page-header
		h2 San Francisco Taxi
			small &nbsp animation of crawdad data

	.container-fluid
		.row.no-gutter
			.col-sm-4
				div
					.title-box.map-input.button.btn.btn-default.button-full-width Start Time 
				div
					select.selectpicker.map-input.start-month(data-width='35%')#map-input-start-month
					select.selectpicker.map-input.start-day(data-width='30%')#map-input-start-day
					select.selectpicker.map-input.start-time(data-width='35%')#map-input-start-time
			.col-sm-4
				div.input-title
					.title-box.button.btn.btn-default.button-full-width Current Time
				.button.btn.btn-default.button-full-width#map-info-time 00:00:00
			.col-sm-4
				div.input-title
					.title-box.map-input.button.btn.btn-default.button-full-width End Time
				div
					select.selectpicker.map-input.end-month(data-width='35%')#map-input-end-month
					select.selectpicker.map-input.end-day(data-width='30%')#map-input-end-day
					select.selectpicker.map-input.end-time(data-width='35%')#map-input-end-time

		.row.no-gutter
			.col-md-4.col-sm-4.col-xs-12
				.title-box.map-input.button.btn.btn-default.button-full-width#map-button-custom-area Use custom area 
			.col-md-2.col-sm-2.col-xs-4
				.title-box.map-input.button.btn.btn-default.button-full-width#map-button-se-coord SW coord
			.col-md-1.col-sm-1.col-xs-4
				input.map-input.form-control.default-sw-coord-x#map-input-sw-coord-x(type=number,value=100)
			.col-md-1.col-sm-1.col-xs-4
				input.map-input.form-control.default-sw-coord-y#map-input-sw-coord-y(type=number,value=100)
			.col-md-2.col-sm-2.col-xs-4
				.title-box.map-input.button.btn.btn-default.button-full-width#map-button-nw-coord NE coord 
			.col-md-1.col-sm-1.col-xs-4
				input.map-input.form-control.default-ne-coord-x#map-input-ne-coord-x(type=number,value=100)
			.col-md-1.col-sm-1.col-xs-4
				input.map-input.form-control.default-ne-coord-y#map-input-ne-coord-y(type=number,value=100)

		.row.no-gutter
			.col-md-1.col-sm-1.col-xs-0.hidden-xs
				.title-box.map-input.button.btn.btn-default.button-full-width Interval
			.col-md-1.col-sm-1.col-xs-3
				select.map-input.selectpicker(data-width='100%').input-interval#map-input-interval
			.col-md-1.col-sm-1.col-xs-0.hidden-xs
				.title-box.map-input.button.btn.btn-default.button-full-width Radius
			.col-md-1.col-sm-1.col-xs-3
				input.map-input.form-control#map-input-radius(type=text,value=100)
			.col-md-2.col-sm-2.col-xs-6
				.button.btn.btn-default.button-full-width#map-label-button(disabled='disabled') Label
			.col-md-2.col-sm-2.col-xs-6
				.button.clicked.btn.btn-default.button-full-width#map-edge-button(disabled='disabled') Edges
			.col-md-4.col-sm-4.col-xs-12
				.button.btn.btn-default.button-full-width#map-generate-button Generate
				.button.btn.btn-default.button-half-width#map-start-button(style='display:none') Start 
				.button.btn.btn-default.button-full-width#map-stop-button(style='display:none')  Stop
				.button.btn.btn-default.button-half-width#map-reset-button(style='display:none') Reset



	#taxi-anim

	// 
	//
	// Chart section
	//
	//

	.page-header
		h2 Data charts
			small &nbsp 

	.container-fluid
		.row.no-gutter
			.col-md-6.col-sm-6.col-xs-12
				div
					.title-box.chart-input.button.btn.btn-default(style='width:20%') Start
					select.chart-input.selectpicker.start-month(data-width='25%')#chart-input-start-month
					select.chart-input.selectpicker.start-day(data-width='25%')#chart-input-start-day
					select.chart-input.selectpicker.start-time(data-width='30%')#chart-input-start-time
			.col-md-6.col-sm-6.col-xs-12
				div
					.title-box.chart-input.button.btn.btn-default(style='width:20%') End
					select.chart-input.selectpicker.end-month(data-width='25%')#chart-input-end-month
					select.chart-input.selectpicker.end-day(data-width='25%')#chart-input-end-day
					select.chart-input.selectpicker.end-time(data-width='30%')#chart-input-end-time
		.row.no-gutter
			.col-md-4.col-sm-4.col-xs-12
				.title-box.chart-input.button.btn.btn-default.button-full-width#chart-button-custom-area Use custom area 
			.col-md-2.col-sm-2.col-xs-4
				.title-box.chart-input.button.btn.btn-default.button-full-width#chart-button-se-coord SW coord
			.col-md-1.col-sm-1.col-xs-4
				input.chart-input.form-control.default-sw-coord-x#chart-input-sw-coord-x(type=number,value=100)
			.col-md-1.col-sm-1.col-xs-4
				input.chart-input.form-control.default-sw-coord-y#chart-input-sw-coord-y(type=number,value=100)
			.col-md-2.col-sm-2.col-xs-4
				.title-box.chart-input.button.btn.btn-default.button-full-width#chart-button-nw-coord NE coord 
			.col-md-1.col-sm-1.col-xs-4
				input.chart-input.form-control.default-ne-coord-x#chart-input-ne-coord-x(type=number,value=100)
			.col-md-1.col-sm-1.col-xs-4
				input.chart-input.form-control.default-ne-coord-y#chart-input-ne-coord-y(type=number,value=100)



		.row.no-gutter
			.col-md-2.col-sm-2.col-xs-6
				.title-box.chart-input.button.btn.btn-default.button-full-width Type
			.col-md-2.col-sm-2.col-xs-6
				select.chart-input.selectpicker(data-width='100%')#chart-input-type
					option(value='degrees') degrees
					option(value='diameters') diameters
					option(value='component_sizes') component sizes
					option(value='no_of_components') number of components
					option(value='no_of_triangles') triangles
			.col-md-2.col-sm-2.col-xs-6
				.title-box.chart-input.button.btn.btn-default.button-full-width Interval
			.col-md-2.col-sm-2.col-xs-6
				select.chart-input.selectpicker(data-width='100%').input-interval#chart-input-interval
			.col-md-2.col-sm-2.col-xs-6
				.title-box.chart-input.button.btn.btn-default.button-full-width Radius
			.col-md-2.col-sm-2.col-xs-6
				input.chart-input.form-control#chart-input-radius(type=text,value=100)
			.col-md-2.col-sm-2.col-xs-6
				.title-box.chart-input.button.btn.btn-default.button-full-width Max
			.col-md-2.col-sm-2.col-xs-6
				input.chart-input.chart-input.form-control#chart-input-max(type=text,value=150)
			.col-md-offset-8.col-md-4.col-sm-12.col-xs-12
				.button.btn.btn-default.button-full-width#chart-generate-button Generate
				.button.btn.btn-default.button-half-width#chart-start-button(style='display:none') Start 
				.button.btn.btn-default.button-full-width#chart-stop-button(style='display:none')  Stop
				.button.btn.btn-default.button-half-width#chart-reset-button(style='display:none') Reset

	#taxi-data
		
	#taxi-save-svg.row.no-gutter
		.col-md-offset-4.col-md-4.col-sm-12.col-xs-12
			.button.btn.btn-default.button-full-width#chart-generate-button(disabled='disabled') Save as SVG

	// 
	// 
	// Export Data Section
	//
	//

	.page-header
		h2 Export data
			small &nbsp 

	.container-fluid
		.row.no-gutter
			.col-md-6.col-sm-6.col-xs-12
				div
					.title-box.export-input.button.btn.btn-default(style='width:20%') Start
					select.export-input.selectpicker.start-month(data-width='25%')#export-input-start-month
					select.export-input.selectpicker.start-day(data-width='25%')#export-input-start-day
					select.export-input.selectpicker.start-time(data-width='30%')#export-input-start-time
			.col-md-6.col-sm-6.col-xs-12
				div
					.title-box.export-input.button.btn.btn-default(style='width:20%') End
					select.export-input.selectpicker.end-month(data-width='25%')#export-input-end-month
					select.export-input.selectpicker.end-day(data-width='25%')#export-input-end-day
					select.export-input.selectpicker.end-time(data-width='30%')#export-input-end-time

		.row.no-gutter
			.col-md-4.col-sm-4.col-xs-12
				.title-box.export-input.button.btn.btn-default.button-full-width#export-button-custom-area Use custom area 
			.col-md-2.col-sm-2.col-xs-4
				.title-box.export-input.button.btn.btn-default.button-full-width#export-button-se-coord SW coord
			.col-md-1.col-sm-1.col-xs-4
				input.export-input.form-control.default-sw-coord-x#export-input-sw-coord-x(type=number,value=100)
			.col-md-1.col-sm-1.col-xs-4
				input.export-input.form-control.default-sw-coord-y#export-input-sw-coord-y(type=number,value=100)
			.col-md-2.col-sm-2.col-xs-4
				.title-box.export-input.button.btn.btn-default.button-full-width#export-button-nw-coord NE coord 
			.col-md-1.col-sm-1.col-xs-4
				input.export-input.form-control.default-ne-coord-x#export-input-ne-coord-x(type=number,value=100)
			.col-md-1.col-sm-1.col-xs-4
				input.export-input.form-control.default-ne-coord-y#export-input-ne-coord-y(type=number,value=100)

		.row.no-gutter
			.col-md-1.col-sm-1.hidden-xs
				.title-box.export-input.button.btn.btn-default.button-full-width Interval
			.col-md-1.col-sm-1.col-xs-3
				select.export-input.selectpicker(data-width='100%').input-interval#export-input-interval
			.col-md-1.col-sm-1.hidden-xs
				.title-box.export-input.button.btn.btn-default.button-full-width Radius
			.col-md-1.col-sm-1.col-xs-3
				input.export-input.form-control#export-input-radius(type=text,value=100)
			.col-md-4.col-sm-4.col-xs-6
				.button.btn.btn-default.button-full-width#export-set-button Set Parameters
				
	hr
	.container-fluid
		.row.no-gutter
			.col-md-4.col-sm-4.col-xs-6
				.title-box.button.btn.btn-default.button-full-width.export-type(data-type='degrees') Degrees
			.col-md-4.col-sm-4.col-xs-6
				.title-box.button.btn.btn-default.button-full-width.export-type(data-type='diameters') Diameters
			.col-md-4.col-sm-4.col-xs-6
				.title-box.button.btn.btn-default.button-full-width.export-type(data-type='component_sizes') Component Sizes
			.col-md-4.col-sm-4.col-xs-6
				.title-box.button.btn.btn-default.button-full-width.export-type(data-type='no_of_components') Number of Components
			.col-md-4.col-sm-4.col-xs-6
				.title-box.button.btn.btn-default.button-full-width.export-type(data-type='no_of_triangles') Number of Triangles
			.col-md-4.col-sm-4.col-xs-6
				.title-box.button.btn.btn-default.button-full-width#export-all(data-type='select_all') All

	hr
	.container-fluid
		.row.no-gutter
			.col-md-offset-2.col-md-8.col-md-offset-2
				.title-box.button.btn.btn-default.button-full-width#export-generate-button Generate
	hr

	#taxi-data-results.container-fluid

	

